*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.media{
    background-color:deepskyblue;
    padding: 5px 0;
}

.media ul li{
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.isi{
    width: 80%;
    margin: 0 auto;
}

header h1{
    float: left;
    padding: 10px 0;
    color: deepskyblue;
}

header ul{
    float: right;
}

header ul li{
    display: inline-block;
}
 
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}

header :hover{
    background-color: deepskyblue;
    color: white;
}

.active{
    background-color: deepskyblue;
    color: white;
}
.pesan{
    height: 600px;
        background-image: url(lakso.jpg);
        background-size: cover;
        background-position: 0 -120px;
        border-bottom:5px solid lightblue ;
        border-top: 5px solid salmon; 
   
}

.pesan h2{
    padding: 60px;
    padding-left:550px;
    font-size: 30px;
    font-family: monospace;
}

.pesan table{
    padding-left: 500px;
    font-size: 20px;
    line-height: 25px;
}
